{% extends "base.html" %}

{% load static wagtailimages_tags core_tags %}

{% block content %}
  <main class="row home">
    <div class="left">
      <h1>{{ page.title }}</h1>
      {% main_menu False True %}
    </div>
    <div class="right">
      {% image page.image width-600 format-webp as page_image %}
      <img src="{{ page_image.url }}" alt="Image" width="600">
    </div>
  </main>
{% endblock content %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}
