from .base import *

DEBUG = False

TEMPLATE_DEBUG = False

COMPRESS_ENABLED = True

SECRET_KEY = ""

ALLOWED_HOSTS = ("127.0.0.1", "semkov-gorodok.by")

CSRF_TRUSTED_ORIGINS = ("https://semkov-gorodok.by",)

STATIC_ROOT = "/var/lib/semkov/static"
MEDIA_ROOT = "/var/lib/semkov/media"

POSITION_FILE_PATH = "/var/lib/semkov/data/position.json"
SCHEDULE_FILE_PATH = "/var/lib/semkov/data/schedule.json"

CACHES = {
    "default": {
        "BACKEND": "django.core.cache.backends.locmem.LocMemCache",
        "LOCATION": "unique-snowflake",
    }
}

LOGGING = {
    "version": 1,
    "disable_existing_loggers": False,
    "handlers": {
        "file": {
            "level": "DEBUG",
            "class": "logging.FileHandler",
            "filename": "/var/log/semkov/app.log",
        },
        "console": {"level": "DEBUG", "class": "logging.StreamHandler"},
    },
    "loggers": {
        "": {
            "handlers": ["file"],
            "level": "WARNING",
            "propagate": True,
            "formatter": "verbose",
        },
        "django": {
            "handlers": ["file"],
            "level": "WARNING",
            "propagate": True,
            "formatter": "simple",
        },
        "wagtail": {
            "handlers": ["file"],
            "level": "WARNING",
            "propagate": True,
            "formatter": "simple",
        },
    },
}

DEFAULT_FROM_EMAIL = "no-reply@manti.by"

EMAIL_BACKEND = "django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST = "localhost"
EMAIL_PORT = 25

GOOGLE_RECAPTCHA_SITE_KEY = "some-recaptcha-site-key"
GOOGLE_RECAPTCHA_SECRET = "some-recaptcha-secret"
