@media (min-width: 992px) {

    .home {
        width: 100%;
        height: 100vh;
        margin: 0;
        flex-direction: inherit;
        overflow: hidden;
        background-repeat: repeat;
    }

    .home .left,
    .home .right {
        padding: 17.5vh 0 0 10%;
    }

    .home .right {
        padding-left: 0;
    }


    .home .right {
        background: #EEEEEE;
    }

    .home .right img {
        max-width: 600px;
    }

    .home h1 {
        margin-bottom: 5rem;
        font-size: 4rem;
        line-height: .9;
    }

    .home .main-menu ul {
        display: flex;
        flex-wrap: wrap;
    }

    .home .main-menu li {
        margin-bottom: 2rem;
    }

    .home .main-menu li a {
        font-size: 2rem;
    }

    .home .main-menu li li {
        width: 50%;
        margin-bottom: 1rem;
    }

    .home .main-menu li li a {
        font-size: 1.125rem;
    }

    .home .main-menu li li:before {
        left: -.25rem;
        top: .5rem;
    }

}