html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: #3F3F3F;
    background: #ffffff;
}

h1, h2, h3 {
    padding: 1rem 0 0;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    color: #3F3F3F;
    text-decoration: none;
}

a:hover {
    color: #ff6f61;
    text-decoration: none;
}

p {
    margin-bottom: 1.25rem;
    font-size: calc(18rem / 16);
    line-height: 1.625;
}

table {
    width: 100%;
    margin-bottom: 3rem;
    font-size: .9rem;
    line-height: 1.5;
}

table tr {
    cursor: pointer;
    border-bottom: 1px solid #efefef;
}

table tr:hover {
    background: #eeeeee;
}

table th,
table td {
    padding: .25rem;
    vertical-align: sub;
}

ul {
    padding: 0 0 0 1.5rem;
}