.home {
    max-width: 1920px;
    margin: 2rem auto 0 auto;
    flex-direction: column-reverse;
}

.home h1 {
    margin-bottom: 1.5rem
}

.home .main-menu {
    padding: 0;
    list-style: none;
}

.home .main-menu li {
    position: relative;
    display: block;
    margin-bottom: .25rem;
    padding: 0 .5rem .5rem 0;
    list-style: none;
}

.home .main-menu li li:before {
    content: ' ';
    position: absolute;
    display: block;
    width: .25rem;
    height: .275rem;
    top: .6rem;
    left: .25rem;
    border-radius: 2px;
    background-color:  #ff6f61;
}

.home .main-menu ul {
    position: relative;
    height: auto;
    margin:  0;
    padding: 1rem 0 0;
    background: transparent;
    box-shadow: none;
    opacity: 1;
}

.home .main-menu li:hover ul {
    height: auto;
    padding: 1rem 0 0;
}

.home .main-menu li li {
    display: block;
    padding: 0 1rem;
}

.home .main-menu li li a {
    font-size: 1rem;
    color: #5C5C5C;
}

.home .main-menu li li a:hover {
    color: #ff6f61;
}

.home .left {
    padding: 1rem 3rem;
}

.home .right img {
    display: block;
    max-width: 85%;
    margin: 0 auto;
}