{% extends "base.html" %}
{% load static core_tags data_tags i18n %}

{% block content %}
{% header %}
<main>
    <article class="container">
        <h1>
            {{ page.title }}
        </h1>
        {% if page.text %}
            <div class="text">
                {{ page.rendered_text|safe }}
            </div>
        {% endif %}
        {% if page.document %}
            <div>
                {%  document_table page.document page.tag_slugs %}
            </div>
        {% endif %}
        <div class="row small">
            <div class="col-6">
                {% trans 'Source' %}: <a href="{{ page.source }}">{{ page.source }}</a>
            </div>
            <div class="col-6 text-right">
                {% trans 'Updated' %}: {{ page.last_published_at }}
            </div>
        </div>
    </article>
</main>
{% endblock content %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout/table.css' %}">
{% endblock %}