{% load i18n %}

<table class="route-list">
{% for item in items %}
    <tr>
        <td class="number">{{ item.number }}</td>
        <td class="route">{{ item.route }}</td>
        <td class="time">{{ item.time }}</td>
            {% if item.days.items %}
                <td class="days">
                        {% for key, value in item.days.items %}
                            <span class="day {% if value %}active{% endif %}">
                                <label>{% trans key %}</label>
                            </span>
                        {% endfor %}
                </td>
            {% else %}
                <td class="">
                    {{ item.days }}
                </td>
            {% endif %}
        </tr>
{% endfor %}
</table>