header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.5rem 0;
    font-size: calc(15rem / 16);
    z-index: 1000;
    transition: all .4s;
}

header.active {
    padding: 1rem 0;
    background: #fefefe;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

header .login {
    margin-right: 1rem;
}

header .modal-dialog form {
    max-width: 500px;
}

header .mobile-menu .dropdown-menu {
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1.5rem;
}

header .mobile-menu .dropdown-menu li {
    display: block;
    margin-bottom: .5rem;
}

header .mobile-menu .opened,
header .mobile-menu .show .closed {
    display: none;
}

header .mobile-menu .show .closed {
    display: inline;
}

header .mobile-menu .btn {
    min-width: 0;
    margin-right: 1rem;
}

header .mobile-menu .dropdown-toggle::after {
    display: none;
}