main {
    margin-top: 5rem;
}

main article {
    margin-bottom: 2rem;
}

main article .excerpt {
    padding: .5em 0;
}

.home {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'Josefin Slab', serif;
    overflow: hidden;
    background-repeat: repeat;
}

.home .left,
.home .right {
    padding: 17.5vh 0 0 10%;
}

.home .right {
    background: #EEEEEE;
}

.home h1 {
    margin-bottom: 5rem;
    font-size: 8rem;
    line-height: .9;
}

.home .main-menu {
    padding: 0;
    list-style: none;
}

.home .main-menu li {
    display: block;
    margin-bottom: 1rem;
}

.home .main-menu li a {
    font-size: 2.5rem;
}

.home .main-menu ul {
    position: relative;
    display: block;
    height: auto;
    padding: 0;
    background: transparent;
    box-shadow: none;
    opacity: 1;
}

.home .main-menu li:hover ul {
    height: auto;
    padding: 0;
}

.home .main-menu li li {
    display: inline;
}

.home .main-menu li li a {
    font-size: 1.5rem;
    color: #5C5C5C;
}

.home .main-menu li li a:hover {
    color: #ff6f61;
}