main article {
    margin-bottom: 1rem;
}

main article .excerpt {
    padding: .5em 0;
}

main article hr {
    margin: 2rem 0 1rem 0;
}

main article .text {
    margin-bottom: 2.5rem;
}

main article .read-more {
    color: #ff6f61;
}

main article .info .col-12 {
    margin-bottom: 1rem;
}

.card.form {
    max-width: 600px;
}

.card.form h3 {
    margin-bottom: 1.5rem;
}

.card.form .card-body {
    padding: 1rem 2rem 2rem;
}

.card.ads-form {
    margin-bottom: 1rem;
}