main {
    margin-top: 5rem;
}

main article {
    margin-bottom: 1rem;
}

main article .excerpt {
    padding: .5em 0;
}

main article .text {
    max-width: 80%;
}

main article hr {
    margin: 2rem 0 1rem 0;
}

.card.form {
    max-width: 600px;
}

.card.form h3 {
    margin-bottom: 1.5rem;
}

.card.form .card-body {
    padding: 1rem 2rem 2rem;
}