@media (min-width: 320px) {

  table {
    font-size: .75rem;
  }

  table .column {
    width: 10%;
  }

  table .column:last-child {
    width: 60%;
  }

  main {
    margin-top: 5rem;
  }

  main.home .left {
    padding: 1rem 3rem;
  }

  main.home .right {
    padding: .5rem;
  }

  main article h1 {
    max-width: 300px;
  }

  .desktop-menu {
    display: none;
  }

  main.home h1 {
    padding-top: 0;
  }

  main.home .main-menu li {
    display: block;
    margin-bottom: .5rem;
  }

  main.home .main-menu li li {
    padding-left: 1rem;
  }

  main.home .main-menu li li:before {
    width: .375rem;
    height: .375rem;
    top: .375rem;
    left: .125rem;
    border-radius: 3px;
  }

  article .info .left,
  article .info .right {
    width: 100%;
  }

  .mobile-menu h5 {
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 750px;
  }
}

@media (min-width: 768px) {

  h1 {
    font-size: 2.75rem;
  }

  header .main-menu {
    margin: 0;
    padding: .5rem 0 .25rem 0;
    border: 1px solid transparent;
  }

  header .main-menu li {
    position: relative;
    margin-right: 2rem;
    overflow: visible;
  }

  header .main-menu li ul li {
    display: block;
    margin-bottom: .25rem;
  }

  table {
    font-size: .85rem;
  }

  table .column {
    width: 16%;
  }

  table .column:last-child {
    width: 36%;
  }

  main article {
    max-width: 80%;
  }

  main article h1 {
    max-width: initial;
    font-size: 2.5rem;
  }

  main.home h1 {
    padding: 1rem 0 1.25rem;
  }

  main.home .left {
    margin-top: 3rem;
  }

  main.home .right img {
    width: 90%;
    max-width: 500px;
  }

  main.home .main-menu li {
    margin-bottom: 1rem;
  }

  main.home .main-menu li li {
    display: inline;
  }

  article .info .left,
  article .info .right {
    width: 50%;
  }

  article .info .right {
    text-align: right;
  }

}

@media (min-width: 992px) {

  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
  }

  main.home {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    flex-direction: inherit;
    overflow: hidden;
    background-repeat: repeat;
  }

  main.home .left,
  main.home .right {
    padding: 17.5vh 0 0 10%;
  }

  main.home .left {
    width: calc(5/12 * 100%);
  }

  main.home .right {
    width: calc(7/12 * 100%);
    padding-left: 0;
    background: #EEEEEE;
  }

  main.home .right img {
    max-width: 600px;
  }

  main.home h1 {
    margin-bottom: 5rem;
    font-size: 4rem;
    line-height: .9;
  }

  main.home .main-menu ul {
    display: flex;
    flex-wrap: wrap;
  }

  main.home .main-menu li {
    margin-bottom: 2rem;
  }

  header .main-menu li:hover ul {
    display: block;
    padding: 1rem 1.5rem;
    opacity: 1;
  }

  main.home .main-menu li a {
    font-size: 2rem;
  }

  main.home .main-menu li li {
    width: 100%;
    margin-bottom: 1rem;
  }

  main.home .main-menu li li a {
    font-size: 1.125rem;
  }

  main.home .main-menu li li:before {
    left: -.25rem;
    top: .5rem;
  }
}

@media (min-width: 1200px) {

  header .main-menu li {
    display: inline;
  }

  header .main-menu li ul {
    position: absolute;
    left: 0;
    padding: 0;
    min-width: 15rem;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    opacity: 0;
    transition: all .6s;
  }

  main.home h1 {
    margin-bottom: 8rem;
    margin-top: 6rem;
    font-size: 6rem;
  }

  main.home .main-menu li a {
    font-size: 2.5rem;
  }

  main.home .main-menu li li {
    width: auto;
  }

  main.home .main-menu li li:first-child {
    padding-left: 0;
  }

  main.home .main-menu li li:first-child:before {
    display: none;
  }
}
