{% extends "base.html" %}

{% load static wagtailimages_tags core_tags %}

{% block content %}

{% image page.background width-165 as page_background %}
<main class="row home justify-content-md-center" style="background-image: url({{ page_background.url }})">
    <div class="col-4">
        <h1>{{ page.title }}</h1>
        {% main_menu %}
    </div>
    <div class="col-4">
        {% image page.image width-600 as page_image %}
        <img src="{{ page_image.url }}" alt="Image">
    </div>
</main>
{% endblock content %}
