{% load static wagtailuserbar i18n %}

<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>
  <title>
    {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
      {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
      {% endwith %}
    {% endblock %}
  </title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <meta name="theme-color" content="#ff6f61">
  <meta name="application-name" content="Semkov Gorodok">
  <meta name="description"
        content="{% trans 'Semkov Gorodok - a village in Papernyansky village council of Minsk region of the Republic of Belarus' %}">

  <meta name="mobile-web-app-capable" content="yes">

  {% block open-graph %}
    <meta property="og:type" content="website">
    <meta property="og:title"
          content="{% trans 'Semkov Gorodok' %}">
    <meta property="og:description"
          content="{% trans 'Semkov Gorodok - a village in Papernyansky village council of Minsk region of the Republic of Belarus' %}">
    <meta property="og:image" content="{% static 'img/semkov-gorodok.jpg' %}">
  {% endblock %}

  <link rel="manifest" href="{% static "manifest.json" %}">

  <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
  <link rel="icon" type="image/png" sizes="18x18" href="{% static "img/appicon/18x18.png" %}">
  <link rel="icon" type="image/png" sizes="24x24" href="{% static "img/appicon/24x24.png" %}">
  <link rel="icon" type="image/png" sizes="36x36" href="{% static "img/appicon/36x36.png" %}">
  <link rel="icon" type="image/png" sizes="48x48" href="{% static "img/appicon/48x48.png" %}">
  <link rel="icon" type="image/png" sizes="72x72" href="{% static "img/appicon/72x72.png" %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static "img/appicon/96x96.png" %}">
  <link rel="icon" type="image/png" sizes="128x128" href="{% static "img/appicon/128x128.png" %}">
  <link rel="icon" type="image/png" sizes="144x144" href="{% static "img/appicon/144x144.png" %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static "img/appicon/192x192.png" %}">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Playfair+Display&subset=cyrillic,cyrillic-ext"
        rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'css/layout/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/layout/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/layout/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/layout/footer.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

  {% block extra_css %}{% endblock %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/responsive/375.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/responsive/768.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/responsive/992.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/responsive/1200.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/responsive/1440.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/responsive/1920.css' %}">

  <link rel="preconnect" href="https://www.google-analytics.com">
  <link rel="preconnect" href="https://www.googletagmanager.com">
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}

{% block content %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142198021-1"></script>

<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% block extra_js %}{% endblock %}
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-142198021-1');
</script>
</body>
</html>
