{% load static i18n core_tags %}
<header>
    <div class="container">
        <div class="row d-none d-md-flex">
            <div class="col-9 col-md-7">
                {% main_menu True %}
            </div>
            <div class="contact col-3 col-md-5 text-right">
                <button type="button" class="btn btn-sm btn-outline-primary"
                        data-toggle="modal" data-target="#contact-modal">
                    {% trans 'Contact Us' %}
                </button>
            </div>
        </div>
        <div class="mobile-menu row justify-content-between d-md-none">
            <div class="home">
                <a href="/">
                    {% trans 'Home' %}
                </a>
            </div>
            <div class="dropdown">
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" id="mobile-menu-button">
                    <img src="{% static 'svg/menu.svg' %}" class="closed" alt="Menu">
                    <img src="{% static 'svg/close.svg' %}" class="opened" alt="Close">
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="mobile-menu-button">
                    {% main_menu False %}
                    <button type="button" class="btn btn-sm btn-light login-button {% if user.is_authenticated %}d-none{% endif %}"
                            data-toggle="modal" data-target="#login-modal">
                        {% trans 'Login' %}
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            data-toggle="modal" data-target="#contact-modal">
                        {% trans 'Contact Us' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contact-modal-label">{% trans 'Contact' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="contact-form" action="{% url 'api:contact' %}" class="ajax">
                    <div class="form-group">
                        <label for="name">{% trans 'Name' %}</label>
                        <input id="name" name="name" type="text" class="form-control"
                               placeholder="{% trans 'Enter your name' %}">
                    </div>
                    <div class="form-group">
                        <label for="contact">{% trans 'Contact' %}</label>
                        <input id="contact" name="contact" type="text" class="form-control"
                               aria-describedby="contactHelp"
                               placeholder="{% trans 'Enter your email or phone' %}">
                        <small id="contactHelp" class="form-text text-muted">
                            {% trans "We'll never share your email or phone with anyone else." %}
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="message">{% trans 'Message' %}</label>
                        <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-start">
                <button id="contact-button" type="button" class="btn btn-primary">{% trans 'Send' %}</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>

