{% load static i18n %}

<table class="document schedule">
  <tr>
    {% for header in headers %}
      <th>{{ header }}</th>
    {% endfor %}
  </tr>
  {% for item in items %}
    <tr {% if not item.is_minibus %}class="bus"{% endif %}>
      <td class="time">{{ item.time }}</td>
      <td class="route-number">{{ item.route_number }}</td>
      <td class="route">{{ item.route }}</td>
      <td class="days">
        <div class="flex">
          {% for key, value in item.days.items %}
            <span class="day {% if value %}active{% endif %}"></span>
          {% endfor %}
        </div>
      </td>
    </tr>
  {% endfor %}
</table>