{% extends "base.html" %}
{% load static core_tags data_tags i18n %}

{% block content %}
  {% header %}
  <main>
    <div class="container">
      <article>
        <h1>{{ page.title }}</h1>
        {% if page.text %}
          <div class="text">
            {% if page.map %}
              <div class="map">
                {{ page.map|safe }}
              </div>
            {% endif %}
            {{ page.rendered_text|safe }}
            {% if page.slug == "minsk-semkov-gorodok" %}
              <div class="document">{% schedule %}</div>
            {% endif %}
            {% if page.slug == "ispolkom" %}
              <div class="document">{% position %}</div>
            {% endif %}
          </div>
        {% endif %}
        <div class="row small info">
          <div class="updated left">
            {% trans 'Updated' %}: {{ page.last_published_at }}
          </div>
          {% if page.source %}
            <div class="source right">
              {% trans 'Source' %}: <a href="{{ page.source }}">{{ page.source_title }}</a>
            </div>
          {% endif %}
        </div>
      </article>
    </div>
  </main>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}